{% extends "admin::layouts.layout" %}

{% block addcss %}
    {{ asset('plugins/custom-select/custom-select.css')|css_tag }}
    {{ asset('plugins/switchery/dist/switchery.min.css')|css_tag }}
    {{ asset('plugins/bootstrap-select/bootstrap-select.min.css')|css_tag }}
    {{ asset('plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css')|css_tag }}
    {{ asset('plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css')|css_tag }}
    {{ asset('plugins/multiselect/css/multi-select.css')|css_tag }}
{% endblock %}

{% block pageheader %}
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">{{ MenuActive }}</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <a href="{{ route('submenu_show') }}" class="btn btn-default pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light"><i class="fa fa-reply-all"></i> Kembali</a>
            <ol class="breadcrumb">
                <li><a href="{{ url('/home') }}">Home</a></li>
                <li><a href="{{ route('submenu_show') }}">{{ MenuActive }}</a></li>
                <li class="active">Tambah</li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title m-b-0">{{ MenuActive }}</h3>
                <p class="text-muted m-b-30 font-13"> {{ MenuDescription }} </p>
                <hr>
                <form class="form" action="{% if state == "add" %}{{ route('submenu_post') }}{% else %}{{ route('submenu_update') }}{% endif %}" name="form_{{ form_name }}" id="form_{{ form_name }}" method="post">
                    {{ csrf_field() }}

                    <!-- PARAM -->
                    <input type="hidden" id="id" name="id" value="{{ id }}" />
                    <!-- PARAM -->

                    <!-- NAME -->
                    <div class="form-group row {% if (errors.has('name')) %}has-danger{% endif %}">
                        <label for="example-text-input" class="col-2 col-form-label">Name</label>
                        <div class="col-10">
                            <input class="form-control {% if (errors.has('name')) %}form-control-danger{% endif %}" type="text" value="{% if state == 'add' %}{{ old('name') }}{% else %}{{ Submenu.name }}{% endif %}" id="name" name="name">
                            {% if (errors.has('name')) %}<div class="form-control-feedback"> {{ errors.first('name') }} </div>{% endif %}
                        </div>
                    </div>
                    <!-- END NAME -->

                    <!-- URL -->
                    <div class="form-group row {% if (errors.has('url')) %}has-danger{% endif %}">
                        <label for="example-text-input" class="col-2 col-form-label">URL</label>
                        <div class="col-10">
                            <input class="form-control {% if (errors.has('url')) %}form-control-danger{% endif %}" type="text" value="{% if state == 'add' %}{{ old('url') }}{% else %}{{ Submenu.url }}{% endif %}" id="url" name="url">
                            {% if (errors.has('url')) %}<div class="form-control-feedback"> {{ errors.first('url') }} </div>{% endif %}
                        </div>
                    </div>
                    <!-- END URL -->

                    <!-- PERMISSION -->
                    <div class="form-group row {% if (errors.has('permission')) %}has-danger{% endif %}">
                        <label for="example-text-input" class="col-2 col-form-label">Permission</label>
                        <div class="col-10">
                            <select name="permission" class="form-control select2" id="permission">
                                {% set ListPermission = call_helpers('get_ListPermission') %}
                                {% for key,value in ListPermission %}
                                    <option value="{{ key }}" {{ Submenu.permission == key ? 'selected="selected"' : ''}}>{{ value }}</option>
                                {% endfor %}
                            </select>
                            {% if (errors.has('permission')) %}<div class="form-control-feedback"> {{ errors.first('permission') }} </div>{% endif %}
                        </div>
                    </div>
                    <!-- END PERMISSION -->


                    <!-- PARENT -->
                    <div class="form-group row {% if (errors.has('parent')) %}has-danger{% endif %}">
                        <label for="example-text-input" class="col-2 col-form-label">Parent</label>
                        <div class="col-10">
                            <select name="parent" class="form-control select2" id="parent">
                                {% set ListMenu = call_helpers('get_ListMenu') %}
                                {% for key,value in ListMenu %}
                                    <option value="{{ key }}" {{ Submenu.parent_id == key ? 'selected="selected"' : ''}}>{{ value }}</option>
                                {% endfor %}
                            </select>
                            {% if (errors.has('parent')) %}<div class="form-control-feedback"> {{ errors.first('parent') }} </div>{% endif %}
                        </div>
                    </div>
                    <!-- END PARENT -->

                    <!-- ICON -->
                    <div class="form-group row {% if (errors.has('icon')) %}has-danger{% endif %}">
                        <label for="example-text-input" class="col-2 col-form-label">Icon</label>
                        <div class="col-10">
                            <input class="form-control {% if (errors.has('icon')) %}form-control-danger{% endif %}" type="text" value="{% if state == 'add' %}{{ old('icon') }}{% else %}{{ Submenu.icon }}{% endif %}" id="icon" name="icon">
                            {% if (errors.has('icon')) %}<div class="form-control-feedback"> {{ errors.first('icon') }} </div>{% endif %}
                        </div>
                    </div>
                    <!-- END ICON -->


                    <hr>
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
                    <a href="{{ route('submenu') }}" class="btn btn-inverse waves-effect waves-light">Cancel</a>

                </form>
            </div>
        </div>
    </div>


{% endblock %}


{% block addjs %}
    <!-- DROPDOWN -->
    {{ asset('plugins/switchery/dist/switchery.min.js')|script_tag }}
    {{ asset('plugins/custom-select/custom-select.min.js')|script_tag }}
    {{ asset('plugins/bootstrap-select/bootstrap-select.min.js')|script_tag }}
    {{ asset('plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js')|script_tag }}
    {{ asset('plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js')|script_tag }}
    {{ asset('plugins/multiselect/js/jquery.multi-select.js')|script_tag }}
    <!-- JS SELECT2 -->
    {{ asset('js/select2/select2.js')|script_tag }}


{% endblock %}
