{% extends "admin::layouts.layout" %}

{% block addcss %}
{% endblock %}

{% block pageheader %}
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">{{ MenuActive }}</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <a href="{{ route('includes_show') }}" class="btn btn-default pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light"><i class="fa fa-reply-all"></i> Kembali</a>
            <ol class="breadcrumb">
                <li><a href="{{ url('/home') }}">Home</a></li>
                <li><a href="{{ route('includes_show') }}">{{ MenuActive }}</a></li>
                <li class="active">Tambah</li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
{% endblock %}


{% block body %}
    {% if session('ErrMsg') %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ session('ErrMsg') }}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title m-b-0">{{ MenuActive }}</h3>
                <p class="text-muted m-b-30 font-13"> {{ MenuDescription }} </p>
                <hr>
                <form class="form" action="{% if state == "add" %}{{ route('includes_post') }}{% else %}{{ route('includes_update') }}{% endif %}" name="form_{{ form_name }}" id="form_{{ form_name }}" method="post" data-toggle="validator">
                    {{ csrf_field() }}

                    <!-- PARAM -->
                    <input type="hidden" id="id" name="id" value="{{ id }}" />
                    <!-- PARAM -->

                    <!-- NAME -->
                    <div class="form-group row {% if (errors.has('name')) %}has-danger{% endif %}">
                        <label for="example-text-input" class="col-2 col-form-label">Name <label class="text-danger">*</label></label>
                        <div class="col-6">
                            <input class="form-control {% if (errors.has('name')) %}form-control-danger{% endif %}" type="text" value="{% if state == 'add' %}{{ old('name') }}{% else %}{{ Includes.name }}{% endif %}" id="name" name="name" data-error="Nama Wajib diisi." required>
                            {% if (errors.has('name')) %}<div class="form-control-feedback"> {{ errors.first('name') }} </div>{% endif %}
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <!-- END NAME -->

                    <!-- ICON -->
                    <div class="form-group row {% if (errors.has('icon')) %}has-danger{% endif %}">
                        <label for="example-text-input" class="col-2 col-form-label">Icon</label>
                        <div class="col-6">
                            <input class="form-control {% if (errors.has('icon')) %}form-control-danger{% endif %}" type="text" value="{% if state == 'add' %}{{ old('name') }}{% else %}{{ Includes.icon }}{% endif %}" id="icon" name="icon">
                            {% if (errors.has('icon')) %}<div class="form-control-feedback"> {{ errors.first('icon') }} </div>{% endif %}
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <!-- END ICON -->


                    <!-- DESCRIPTION -->
                    <div class="form-group row {% if (errors.has('description')) %}has-danger{% endif %}">
                        <label for="example-text-input" class="col-2 col-form-label">Deskripsi</label>
                        <div class="col-6">
                            <textarea id="description" name="description" class="form-control {% if (errors.has('description')) %}form-control-danger{% endif %}">{% if state == 'add' %}{{ old('description') }}{% else %}{{ Includes.description }}{% endif %}</textarea>
                            {% if (errors.has('description')) %}<div class="form-control-feedback"> {{ errors.first('description') }} </div>{% endif %}
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <!-- END DESCRIPTION -->


                    <hr>
                    <button type="submit" class="btn btn-outline-primary btn-rounded"><i class="fa fa-save"></i> Simpan</button>
                    <a href="{{ route('includes_show') }}" class="btn btn-outline-warning btn-rounded"><i class="fa fa-reply-all"></i> Batal</a>

                </form>
            </div>
        </div>
    </div>


{% endblock %}


{% block addjs %}
    {{ theme_asset('js/validator.js') | script_tag }}
{% endblock %}
