{% extends "admin::layouts.layout" %}

{% block addcss %}
    {{ asset('plugins/custom-select/custom-select.css')|css_tag }}
    {{ asset('plugins/bootstrap-select/bootstrap-select.min.css')|css_tag }}
    {{ asset('plugins/multiselect/css/multi-select.css')|css_tag }}

{% endblock %}

{% block pageheader %}
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">{{ MenuActive }}</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <a href="{{ route('classtour_show') }}" class="btn btn-default pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light"><i class="fa fa-reply-all"></i> Kembali</a>
            <ol class="breadcrumb">
                <li><a href="{{ url('/home') }}">Home</a></li>
                <li><a href="{{ route('classtour_show') }}">{{ MenuActive }}</a></li>
                <li class="active">Tambah</li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title m-b-0">{{ MenuActive }}</h3>
                <p class="text-muted m-b-30 font-13"> {{ MenuDescription }} </p>
                <hr>
                <form class="form" action="{% if state == "add" %}{{ route('classtour_post') }}{% else %}{{ route('classtour_update') }}{% endif %}" name="form_{{ form_name }}" id="form_{{ form_name }}" method="post" data-toggle="validator">
                    {{ csrf_field() }}

                    <!-- PARAM -->
                    <input type="hidden" id="id" name="id" value="{{ id }}" />
                    <!-- PARAM -->

                    <!-- NAME -->
                    <div class="form-group row {% if (errors.has('name')) %}has-danger{% endif %}">
                        <label for="example-text-input" class="col-2 col-form-label">Name <label class="text-danger">*</label></label>
                        <div class="col-6">
                            <input class="form-control {% if (errors.has('name')) %}form-control-danger{% endif %}" type="text" value="{% if state == 'add' %}{{ old('name') }}{% else %}{{ ClassTour.name }}{% endif %}" id="name" name="name" data-error="Nama Class Wajib diisi." required>
                            {% if (errors.has('name')) %}<div class="form-control-feedback"> {{ errors.first('name') }} </div>{% endif %}
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <!-- END NAME -->

                    <hr>
                    <button type="submit" class="btn btn-outline-primary btn-rounded"><i class="fa fa-save"></i> Simpan</button>
                    <a href="{{ route('classtour_show') }}" class="btn btn-outline-warning btn-rounded"><i class="fa fa-reply-all"></i> Batal</a>

                </form>
            </div>
        </div>
    </div>




{% endblock %}


{% block addjs %}
    {{ asset('plugins/custom-select/custom-select.min.js')|script_tag }}
    {{ asset('plugins/bootstrap-select/bootstrap-select.min.js')|script_tag }}
    {{ asset('plugins/multiselect/js/jquery.multi-select.js')|script_tag }}
    {{ asset('js/select2/select2.js')|script_tag }}

    {{ theme_asset('js/validator.js')|script_tag }}


{% endblock %}
